@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

h1 {
  font-size: 6.4em;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 2.4em;
  font-style: bold;
  font-weight: 700;
}

h3 {
  font-size: 1.8em;
}

html,
body {
  font-family: Noto Sans;
  color: black;
  font-size: 10px;
  height: 100%;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 1200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
}

.section {
  padding-top: 150px;
}

.section:last-child {
  padding-bottom: 150px;
}

.button {
  position: relative;
}

.button-text {
  font-size: 1.8em;
  position: absolute;
}

.button::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -50px;
  width: 100px;
  height: 100px;
  background: no-repeat center url(/scr/icon/Arrow.svg);
  border: 2px solid #fff;
  border-radius: 50%;
}

.button:hover::before {
  background-color: #A9A32A;
  -webkit-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

.social {
  max-width: 170px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 100vw;
  padding: 70px 0 38px;
  background: center no-repeat url(/scr/header/bg/1.jpg);
  background-size: cover;
  color: #fff;
}

.header-logo {
  text-align: center;
  margin-bottom: 15.5%;
}

.header-subtitle {
  font-size: 1.8em;
  text-align: center;
}

.header-title {
  text-align: center;
  margin-bottom: 12%;
}

.header-btn {
  margin: 0 auto 30%;
  max-width: 308px;
}

.header-social {
  margin: 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.discriptor {
  font-size: 4.2em;
}

.servises-title {
  width: 100%;
  color: #868585;
  margin-bottom: 60px;
}

.servises-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 90px;
}

.servises-content--column {
  overflow: hidden;
}

.servises-content--img {
  -o-object-fit: cover;
     object-fit: cover;
}

.text-title {
  color: #303030;
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.text-content {
  font-size: 1.4em;
  margin-bottom: 50px;
  line-height: 19px;
}
