// Null styles =========================
@import "_null.scss";

//  Fonts ==============================
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700);
h1 {
    font-size: 6.4em;
    font-weight: 700;
    color: #fff;
}
h2{
    font-size: 2.4em;
    font-style: bold;
    font-weight: 700;
}
h3 {
    font-size: 1.8em;
}

// Main styles =========================

html,
body {
    font-family: Noto Sans;
    color: rgb(0, 0, 0);
    font-size: 10px;
    height: 100%;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}
.container {
    width: 1200px;
    flex: 1 1 auto;
    margin: 0 auto;
}

.section {
    padding-top: 150px;
    &:last-child{
        padding-bottom: 150px;
    }
}

.button {
    position: relative;

    &-text {
        font-size: 1.8em;
        position: absolute;
    }

    &::before {
        content: "";
        position: absolute;
        top: -60px;
        left: -50px;
        width: 100px;
        height: 100px;
        background: no-repeat center url(/scr/icon/Arrow.svg);
        border: 2px solid #fff;
        border-radius: 50%;
    }

    &:hover::before {
        background-color: #A9A32A;
        transition: background-color 150ms linear;
    }
}

// Social ============================
.social {
    max-width: 170px;
    &-list {
        display: flex;
        justify-content: space-between;
    }
}

// Header ============================
.header {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    height: 90vh;
    width: 100vw;
    padding: 70px 0 38px;


    background: center no-repeat url(/scr/header/bg/1.jpg);
    background-size: cover;
    color: #fff;


    &-logo {
        text-align: center;
        margin-bottom: 15.5%;
    }

    &-subtitle {
        font-size: 1.8em;
        text-align: center;
    }

    &-title {
        text-align: center;
        margin-bottom: 12%;
    }
    
    &-btn {
        margin: 0 auto 30%;
        max-width: 308px;
    }

    &-social {
        margin: 0 auto;
        align-items: flex-end;
    }
}

.discriptor {
    font-size: 4.2em;
}
// servises===========================
.servises {
    &-title{
        width: 100%;
        color: #868585;
        margin-bottom: 60px;
    }

    &-text{
        
    }

    &-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 90px;
        &--column{
            overflow: hidden;
        }

        &--img{
            object-fit: cover;
        }
    }
}
.text {

    &-title{
        color: #303030;
        font-weight: 700;
        font-size: 1.8em;

        margin-bottom: 15px;
    }

    &-content{
        font-size: 1.4em;
        margin-bottom: 50px;
        line-height: 19px;
    }
}