// Null styles =========================
@import "_null.scss";

//  Fonts ==============================
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700);
h1 {
    font-size: 6.4em;
    font-weight: 700;
    color: #fff;
}
h2{
    font-size: 2.4em;
    font-style: bold;
    font-weight: 700;
}
h3 {
    font-size: 1.8em;
}

// Main styles =========================

html,
body {
    font-family: Noto Sans;
    color: rgb(0, 0, 0);
    font-size: 10px;
    height: 100%;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}
.container {
    width: 1200px;
    flex: 1 1 auto;
    margin: 0 auto;
}

.section {
    padding-top: 150px;
    &:last-child{
        padding-bottom: 150px;
    }
}

.button {
    position: relative;
    left: -100px;
    &-text {
        font-size: 1.8em;
        position: absolute;
        display: inline-block;
        min-width: 15em;
    }

    &::before {
        content: "";
        position: absolute;
        top: -60px;
        left: -50px;
        width: 100px;
        height: 100px;
        background: no-repeat center url(/scr/icon/Arrow.svg);
        border: 2px solid #fff;
        border-radius: 50%;
    }

    &:hover::before {
        background-color: #A9A32A;
        transition: background-color 150ms linear;
    }
}

.arr {
    cursor: pointer;
    left: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    &-prev{
        background: no-repeat url(/scr/icon/prev.svg);
        margin-right: 20px;
        & span{
            display: inline-block;
            width: 40px;
            height: 10px;
        }
    }
    &-next{
        background: no-repeat url(/scr/icon/next.svg);
        & span{
            display: inline-block;
            width: 40px;
            height: 10px;
        }
    }
}

// Social ============================
.social {
    max-width: 170px;
    &-list {
        display: flex;
        justify-content: space-between;
    }
}

// Header ============================
.header {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    // strech header
    // padding: 8% 0 4.5%;


    background: center no-repeat url(/scr/header/bg/1.jpg);
    background-size: cover;
    color: #fff;


    &-logo {
        text-align: center;
        margin: 8% 0 15.5%;
    }

    &-subtitle {
        font-size: 1.8em;
        text-align: center;
    }

    &-title {
        text-align: center;
        margin-bottom: 12%;
    }
    
    &-btn {
        margin: 0 auto 266px;
        width: fit-content;
    }

    &-social {
        margin: 0 auto;
    }
}

.discriptor {
    font-size: 4.2em;
}
// servises===========================
.servises,
.tarif{
    &-title{
        width: 100%;
        color: #868585;
        margin-bottom: 60px;
    }
    
    &-item{
        margin-bottom: 50px;
        &--title{
            color: #303030;
            font-weight: 700;
            font-size: 1.8em;
            line-height: 24px;
    
            margin-bottom: 15px;
        }

        &--text{
            font-size: 1.4em;
            line-height: 19px;
        }
    }

    &-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        &--column {
            height: 100%;
            position: relative;
        }
    }

    &-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 90px;
        &--column{
            overflow: hidden;
        }

        &--img{
            object-fit: cover;
        }
    }

    &-slider{
        display: flex;
        flex-direction: row;

        &--link{
            display: inline-block;
            margin-right: 40px;
            line-height: 24px;
            font-size: 1.8em;
            height: 30px;
            
            background-image: linear-gradient(#303030, #303030);
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 1px;
            transition: background-size .3s;

            &:hover{
                background-size: 100% 1px;
            }
        }
    }

    &-tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &--card {
            max-width: 255px;
            margin-bottom: 20px;
        }
    }
}
